ErrorDocument 400 erreur.html
ErrorDocument 401 erreur.html
ErrorDocument 402 erreur.html
ErrorDocument 403 erreur.html
ErrorDocument 404 erreur.html
ErrorDocument 405 erreur.html
ErrorDocument 500 erreur.html
ErrorDocument 501 erreur.html
ErrorDocument 502 erreur.html
ErrorDocument 503 erreur.html
ErrorDocument 504 erreur.html
ErrorDocument 505 erreur.html